body {
  margin: 0;
  background-color: #a286c1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: monospace;
  font-size: 40px;
  margin-top: -20px;
}

.jankenpon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  width: 60vw;
  margin: 0 auto;
  height: 600px;
}

.container {
  background-color: #2e6a9d;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
  height: 350px;
  box-shadow: inset 0 0 1em #2e6a9d, 0 0 1em black;
}

.scoreboard {
  background-color: rgba(125, 158, 252, 0.534);
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 0 0 4px black;
  padding: 20px;
}

.placar {
  display: inline-block;
  width: 160px;
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
}

span {
  margin: 20px;
  font-size: 20px;
}

.current-play {
  width: 100%;
  text-align: center;
}

.player,
.machine {
  display: inline-block;
  background-color: #b0dae6;
  width: 70px;
  height: 73px;
  margin: 20px;
  padding: 20px;
  line-height: 8.5;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.418);
  border-radius: 10px;
}

.icon {
  font-size: 50px;
}

.icon-button {
  font-size: 30px;
}

.container-button {
  margin: 0 auto;
}

button {
  padding: 10px;
  margin: 10px;
  width: 70px;
  background-color: #5781cf;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.418);
  border-radius: 20px;
}

button:hover {
  background-color: #b0dae6;
  cursor: pointer;
}
